.App {
  background-image: url("./img/bg.png");
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 79px;
  text-align: center;
}
